@import 'vars';
@import 'items';
@import 'cards';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: inherit;

}
.error {
  background-color: $primary-color;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
  padding: 12px;
}

.pagination {
  text-align: center;
}

.search-panel{
  display:flex;
}
input[type=text]:not(.browser-default){
  height:0px;
  margin:0;
}
